@import '../../../../../../styles/variables.scss';

.comment {
  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    &_about {
      display: flex;
      gap: 8px;
    }
  }

  &__likesBlock {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__btnLike {
    background-color: transparent;
  }

  &__text_like {
    color: #73a32f;
    line-height: 20px;
    font-weight: 700;
  }

  &__text_grayBold {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: $additionalColor;
  }

  &__text_gray {
    color: $additionalColor;
    font-size: 13px;
    line-height: 16px;

    @media screen and (max-width: 599px) {
      position: absolute;
      bottom: -20px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 8px;
    color: $cardsTitleColor;
    line-height: 22px;
  }

  &__btnText {
    background-color: transparent;
    color: $cardsTitleColor;
    cursor: pointer;
    font-size: 15px;
    line-height: 22px;
    transition: all 0.4s;
    margin-bottom: 8px;

    &:hover {
      color: $mainColor;
    }
  }
}
