@import '../../styles/variables.scss';

.adminGenre {

    &__container {
        max-width: $maxWidthContainer;
        margin: 15px auto;

        @media screen and (min-width: 600px) and (max-width: 1279px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @media screen and (max-width: 600px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .cardField {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;

        @media screen and (max-width: 528px) {
            justify-content: center;
        }
    }
}