@import '../../styles/variables.scss';

.linksList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;

  &__listItem {
    line-height: 20px;
  }

  &__listItem_divider {
    @extend .linksList__listItem;
    position: relative;
    padding-left: 15px;
  }

  &__listItem_divider::before {
    content: '';
    position: absolute;
    left: -1px;
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    transition: all ease 0.4s;
  }

  &__listItem_divider:hover::before {
    background-color: #ffffff;
  }

  &__link {
    cursor: pointer;
    color: $secondaryColor;
    text-decoration: none;
    opacity: 1;
    transition: all 0.4s;

    &:hover {
      color: $mainColor;
    }
  }

  &__certificateLink {
    line-height: 20px;
    font-weight: 500;
    background-image: linear-gradient(-45deg, #c447ff, #ea003d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.leftDivider {
  border-left: 1px solid rgba(255, 255, 255, 0.16);
}
