@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial.woff2') format('woff2'), url('../fonts/Arial.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial-Bold.woff2') format('woff2'),
    url('../fonts/Arial-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
