$mainColor: #ffffff; // Тайтлы + комменты и тд. с белым цветом
$secondaryColor: rgba(255, 255, 255, 0.48); // header + интерактивные надписи изменяющиеся при hover
$descriptionColor: rgba(255, 255, 255, 0.72); // Описания
$cardsTitleColor: #d9d7e0; // Названия фильмов / имена актеров в карточках
$additionalColor: #a5a1b2; // Разного рода доп. текст
$mainBackgroundColor: #100e19;
$maxWidthContainer: 1216px;
$titleFontSize: 42px;
$subTitleFontSize: 24px;
$textFontSise: 15px;
$smallTextFontSize: 13px;
