@import '../../styles//variables.scss';

.age {
  background-color: rgba(7, 5, 14, 0.7);
  width: 24px;
  height: 16px;
  position: absolute;
  font-size: 11px;
  color: $descriptionColor;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
