@import '../../styles/variables.scss';

.smallFilmCard,
.bigSize {
    width: 146px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;


    &:hover {
        .smallFilmCard__imageBlockInfo {
            background-color: rgba(7, 5, 14, .8);
            z-index: 4;
            opacity: 1;
        }

        .smallFilmCard__title {
            color: $mainColor;
        }

        .smallFilmCard__textBlock {
            color: $mainColor;
        }
    }

    &__icon {
        transition: all 0.4s;

        &:hover {
            opacity: 0.7;
        }
    }

    &__imageBlock {
        background-color: #1f1b2e;
        border-radius: 8px;
        position: relative;
    }

    &__poster {
        border-radius: 8px;
    }

    &__imageBlockInfo {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.4s;
        padding: 16px;

        &_hoards {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &_description {
            display: flex;
            flex-direction: column;
            align-self: end;
            gap: 4px;

            &.left {
                align-self: flex-start;
                cursor: default;
            }
        }

        &_rating {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $mainColor;
        }

        &_title {
            font-size: 24px;
            line-height: 28px;
            font-weight: 700;
        }

        &_titleSmall {
            font-size: 20px;
            line-height: 24px;
        }

        &_time {
            display: flex;
            gap: 8px;
            padding-top: 5px;
        }
    }

    &__text {
        font-size: 13px;
        line-height: 16px;
        color: $additionalColor;

        &_light {
            color: rgb(217, 215, 224);
            line-height: 16px;
            font-size: 13px;

        }
    }

    &__title {
        color: #d9d7e0;
        font-size: 15px;
        line-height: 20px;
        font-weight: 500;
        transition: all 0.4s;

    }
}

.bigSize {
    width: 175px;
}

.progress {
    width: 100%;
}

.progress::-webkit-progress-bar {
    background-color: rgba(126, 121, 143, .32);
    border-radius: 2px;
    height: 4px;
}

.progress::-webkit-progress-value {
    background-color: #ea003d;
    border-radius: 2px;
    height: 4px;
}

.progress::-moz-progress-bar {
    background-color: rgba(126, 121, 143, .32);
    border-radius: 2px;
    height: 4px;
}

.scale {
    border-radius: 8px;
    transition: all 0.4s;

    &:hover {
        transform: scale(1.05);

    }
}