@import '../../styles/variables.scss';

.header__container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  z-index: 1000;
  position: relative;

  @media screen and (max-width: 1293px) {
    margin: 0 32px;
  }

  // @media screen and (max-width: 600px) {
  //   left: 0;
  //   position: fixed;
  //   right: 0;
  //   top: 0;
  // }
}

.headerTop {
  &__content {
    margin: 0 -12px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    height: 72px;
    border-top: 3px solid hsla(0, 0%, 100%, 0);

    @media screen and (max-width: 1293px) {
      padding: 0;
    }

    @media screen and (max-width: 600px) {
      height: 64px;
      border-top: none;
      background-color: hsla(0, 0%, 100%, 0);
    }
  }

  &__content_openSection {
    @extend .headerTop__content;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    @media screen and (min-width: 1160px) {
      background-color: #1f1b2e;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    margin-left: 32px;
  }

  &__wideArea {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-items: center;
    margin: 0 12px 0 16px;

    @media screen and (max-width: 600px) {
      margin-right: 0;
    }
  }

  &__subscribeBtn {
    margin-right: 20px;
  }

  &__subscribeBtnTitle {
    font-size: $smallTextFontSize;
    line-height: 16px;
    font-weight: 700;
  }

  &__searchBtnContent {
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $secondaryColor;
    font-size: $textFontSize;
    line-height: 20px;
    font-weight: 700;
    transition: all ease 0.4s;
  }

  &__searchBtnContent:hover {
    .headerTop__searchBtnTitle {
      color: #ffffff;
    }
    .svgImage {
      filter: brightness(0) invert(1);
    }
  }

  &__searchBtnTitle {
    transition: all ease 0.4s;
  }

  &__notify {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__notify:hover {
    .svgImage {
      filter: brightness(0) invert(1);
    }
  }

  &__avatar {
    margin-left: 12px;
    transition: all ease 0.4s;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  &__avatar:hover {
    box-shadow: 0 4px 16px rgb(255, 255, 255, 0.24);
  }

  @media screen and (max-width: 1159px) {
    &__searchBtn,
    &__menu {
      display: none;
    }

    &__subscribeBtn {
      margin-right: 0;
    }

    &__content_openSection {
      @extend .headerTop__content;
      // background-color: $mainBackgroundColor;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.headerDropdownWrapper {
  position: relative;
  margin: 0 -12px;

  @media screen and (max-width: 1159px) {
    & {
      display: none;
    }
  }
}

.headerDropdown {
  width: 100%;
  position: absolute;
  padding: 32px 20px 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  background-color: #1f1b2e;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 5;
  transition: all ease 0.4s;
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.svgImage {
  transition: all ease 0.4s;
}
