@import '../../../styles/variables.scss';

.personImage {
    height: 144px;
    width: 120px;
    position: relative;
    overflow:hidden;

        & img {
            border-radius: 14px;
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            object-fit:cover;
        }
}

.personHeaderTitle {
    font-size: 56px;
    font-weight: 700;
}
@media (max-width: 599.98px) {
    .personHeaderTitle {
        font-size: 40px;} }

@media (max-width: 271.98px) {
    .personHeaderTitle {
        font-size: 16px;}
     }

.personHeaderAlternate{
    color: $additionalColor;
    font-size: $textFontSize;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
    margin-top: 16px;
}
