.blueBtn {
    height: 36px;
    width: 100%;
    border-radius: 30px;
    padding: 2px;
    box-sizing: border-box;
    line-height: 19px;
    background-color: #575f61;
    color: #ececf9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: SF UI Display, sans-serif;
    box-shadow: 0 4px 18px 2px #575f61;
    transition: 0.2s;
  
    &:hover {
      opacity: 0.8;
    }
  
    &:active {
      background-color: #949ea4;
    }
  
    &[disabled] {
      opacity: 0.6;
      cursor: default;
      background-color: #575f61;
    }
  }