@import '../../../styles/variables.scss';

.headerSubscribe {
  display: flex;
  justify-content: space-between;

  &__column {
    display: flex;
    flex: 0 0 50%;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    color: $additionalColor;
  }

  &__infoCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 32px 0 40px 0;
  }

  &__cardItem {
    flex: 0 0 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 128px;
    padding: 15px;
    font-weight: 700;
    line-height: 20px;
    background-color: #302a44;
    border-radius: 8px;
    cursor: default;
  }

  &__cardItem:nth-child(2) {
    flex: 0 0 65.5%;
  }

  &__bottom {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__btnTitle {
    font-weight: 700;
  }

  &__deactivateText {
    max-width: 150px;
    font-size: $smallTextFontSize;
    color: $additionalColor;
  }

  &__widgetWrapper {
    position: relative;
    align-self: flex-end;
    width: 100%;
    height: 100%;
  }

  &__widget {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 500px;
    height: 476px;
    overflow: hidden;
  }

  &__widget::before,
  &__widget::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    display: block;
    z-index: 1;
  }

  &__widget::after {
    right: 0;
    background-image: linear-gradient(90deg, rgba(31, 27, 46, 0) 0, #1f1b2e 100%);
  }

  &__widget::before {
    left: 0;
    background-image: linear-gradient(270deg, rgba(31, 27, 46, 0) 0, #1f1b2e 100%);
  }

  &__moreLink {
    position: absolute;
    right: 24px;
    bottom: 32px;
    z-index: 2;
    line-height: 20px;

    a {
      color: $mainColor;
      font-weight: 700;
      transition-duration: 400ms;
    }

    a:not(:hover):not(:active) {
      box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
    }

    a:hover:not(:active) {
      box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
    }
  }
}

.hidden {
  display: none;
}
