.backArrow {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    cursor: pointer;
    padding-top: 16px;

        &:hover {
            
            & img {
                transition: transform .8s;
                transform: scale(1.2);
                }

        }
        
}

