.emailPasswordContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    input {
      padding: 3px;
      margin-bottom: 3px;
      box-sizing: border-box;
      font-size: 16px;
      font-family: SF UI Display, sans-serif;
      color: #2d2e46;
      width: 100%;
      border-bottom: 1.3px rgba(36, 37, 74, 0.5) solid;
      border-right: none;
      border-left: none;
      border-top: none;
      background-color: #f9f9fe;
      outline: none;
    }
  }
  
  .inputTitle {
    font-size: 16px;
    line-height: 20px;
    color: #24254a;
    opacity: 0.5;
    font-family: SF UI Display, sans-serif;
  }
  
  .errorEmailPasswordMessage {
    height: 15px;
    color: red;
    font-size: 13px;
    font-family: SF UI Display, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .passwordControl {
    position: absolute;
    top: 34px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
  
    &:hover {
      cursor: pointer;
    }
  }